@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.navbar {
    background-color: rgba(237, 237, 237, 1); 
    padding: 5px;
    display: flex;
    align-items: center; /* Alinha verticalmente o conteúdo ao centro */
}

.navbar img {
    height: 80px;
    margin-right: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex; /* Usar flex para alinhar horizontalmente os itens */
}

.navbar ul {
    margin-left: 23%;
}

.navbar menu{
    width: 74px;
    height: 74px;
    flex-shrink: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: rgb(19, 105, 53); /* cor do texto na barra de navegação */
}

.content {
    padding: 300px;
    color: #fff;
    text-align: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

.slide{
  height: 100%;
  width: 180px;
  position: absolute;
  background-color: rgba(237, 237, 237, 1);
  transition: 0.5s ease;
  transform: translateX(180px) translateY(-50px);
  right: 0;
  top: 100px;
  text-align: left;
}

h2{
  color: rgb(19, 105, 53);
  font-weight: 800;
  text-align: right;
  padding: 10px 0;
  padding-right: 50px;
  pointer-events: none;
}

ul li{
  list-style: none;
}

ul li a{
  color: rgb(1, 26, 65);
  font-weight: 500;
  padding: 5px 0;
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.2s ease-out;
}

ul li:hover a {
  color: #fff;
  background-color: rgb(19, 105, 53);
}

ul li a i{
  width: 40px;
  text-align: center;
}

input{
  display: none;
  visibility: hidden;
}

.toggle{
  position: absolute;
  height: 30px;
  width: 30px;
  top: 28px;
  right: 15px;
  z-index: 1;
  cursor: pointer;
  border-radius: 2px;
  background-color: rgba(237, 237, 237, 1);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.toggle .common{
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: rgb(19, 105, 53);
  border-radius: 50px;
  transition: 0.3s ease;
}

.toggle .top_line{
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.toggle .middle_line{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.toggle .bottom_line{
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
}

input:checked ~ .toggle .top_line{
  left: 2px;
  top: 14px;
  width: 25px;
  transform: rotate(45deg);
}

input:checked ~ .toggle .bottom_line{
  left: 2px;
  top: 14px;
  width: 25px;
  transform: rotate(-45deg);
}

input:checked ~ .toggle .middle_line{
  opacity: 0;
  transform: translateX(20px);
}

input:checked ~ .slide{
  transform: translateX(0) translateY(0);
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  background-color: rgb(19, 105, 53);
  padding: 2px 0;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px rgba(50, 50, 50, 0.77);
  margin: 100px auto; /* Adiciona margem superior de 20 pixels e margens automáticas nos lados */
  flex-direction: column;
  align-items: flex-start; /* Alinha os itens ao início (topo para colunas) */
  justify-content: flex-start; /* Começa a posicionar os itens a partir do topo */
}
 
.header{
    color: #fff;
    text-align: left; /* Alinha o texto à esquerda */
    padding-left: 10px; /* Ajusta o espaço à esquerda do título */
    border-bottom: 3px solid #c8cacc;
    width: 100%; /* Garante que a div ocupe toda a largura do container */
    margin-top: 0; /* Remove a margem superior */
    padding-top: 0; /* Remove o padding superior */
}
  
.right{
  text-align: center;
}
        
.detalhes {
    background-color: #f4f4f4; /* Cor de fundo suave */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra sutil */
    padding: 20px; /* Espaçamento interno */
    margin-top: 20px; /* Espaçamento acima da seção */
    max-width: 600px; /* Largura máxima */
    margin-left: auto;
    margin-right: auto;
}

.detalhes p {
    font-family: 'Poppins', sans-serif; /* Fonte elegante para o corpo do texto */
    color: #333; /* Cor do texto */
    line-height: 1.6; /* Espaçamento entre linhas */
    margin-bottom: 15px; /* Espaçamento abaixo de cada parágrafo */
}

.detalhes .negrito {
    font-weight: bold; /* Torna o texto negrito */
    color: rgb(19, 105, 53); /* Cor do texto para títulos */
    margin-bottom: 5px; /* Espaçamento abaixo do título */
}

p{
    color: #fff;
}


.menu-definicoes ul {
  list-style: none;
  /* Outros estilos aqui */
}

.menu-definicoes li a {
  text-decoration: none;
  color: #000;
  /* Outros estilos aqui */
}

.menu-definicoes li a:hover {
  background-color: #f0f0f0;
  /* Estilo para hover */
}